@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<!-- This is stupidly engineered, I wanted to do a slidy animation but that
	     didn't work so now it's just some silly rubbish :( -->
	<div class="screen-container">
		<div class="screen @(_selectedScreen == MainMenuScreens.Title ? "" : "hidden")">
			<div class="title-container">
				<div class="title">
					<p>Veneficus</p>
				</div>
			</div>
			<div class="selection-container">
				<div class="selections">
					<div class="button-container">
						<button onclick=@PlayGame>Play Story Mode</button>
					</div>
					<div class="button-container">
						<button onclick=@PlayArenaMode>Play Arena Mode</button>
					</div>
					<!-- TODO: later
					<div class="button-container">
						<button onclick=@Settings>Settings</button>
					</div>
					-->
					<div class="button-container">
						<button onclick=@ExitGame>Exit Game</button>
					</div>
				</div>
			</div>
		</div>
		<div class="screen @(_selectedScreen == MainMenuScreens.PlaySaveSelect ? "" : "hidden")">
			<div class="saves-container">
				<div class="saves">
					<div class="saves-title">Select a Save</div>
					<button class="save-new" onclick=@NewSave>
						<p>&#10133; Create a New Save</p>
					</button>
					<div class="saves-list">
						@for (int i = 0; i < SaveData.GetSaveCount(); i++)
						{
							var saveData = SaveData.GetSave(i);

							var currentAct = $"Act {saveData.GreatestCompletedLevel + 1}";
							List<String> ranks = new List<String>();
							for (int j = 0; j <= saveData.GreatestCompletedLevel; j++)
							{
								ranks.Add(saveData.CompletedLevelData[j].FinalRank);
							}

							<button class="save"
								onclick=@(SelectSave(i))>
								<div class="save-current-act">
									Next Act: @currentAct
								</div>
								<div class="save-spells">
									<div>Unlocked Spells: </div>
									@for (int spellType = (int)BaseSpell.SpellType.SpellTypeMin + 1;
										  spellType < (int)BaseSpell.SpellType.SpellTypeMax;
										  spellType++)
									{
										var unlocked =
											((saveData.UnlockedSpells & (1ul << spellType)) != 0)
											? "unlocked" : "locked";
										BaseSpell spell =
											PlayerSpellcastingController.CreateSpell(
												null,
												(BaseSpell.SpellType)spellType
											);
										<img src="@spell.IconPath"
											 class="spell-image @unlocked"/>
									}
								</div>
								<div class="save-ranks">
									<div>Act Ranks: </div>
									@foreach (var rank in ranks)
									{
										<div>@rank</div>
									}
								</div>
							</button>
							<!-- TODO:
								 - last played?
								 - total deaths
								 - total items collected?
								 - total time played
								 -->
						}
					</div>
					<button class="saves-back" onclick=@ReturnToMainMenu>
						<p>&#8592; Return</p>
					</button>
				</div>
			</div>
		</div>
		<div class="screen @(_selectedScreen == MainMenuScreens.PlayLevelSelect ? "" : "hidden")">
			<div class="acts-container">
				<div class="acts">
					<div class="acts-title">Select an Act</div>
					<div class="acts-list">
						@for (int i = 0;
							  i <= SaveData.Instance.Data.GreatestCompletedLevel + 1 &&
							  i <= 3;
							  i++)
						{
							String completionTime = "Incomplete";
							String enemiesKilled = "Incomplete";
							String deaths = "Incomplete";
							String finalRank = "Incomplete";
							if (SaveData.Instance.Data.CompletedLevelData.ContainsKey(i))
							{
								var actData = SaveData.Instance.Data.CompletedLevelData[i];
								completionTime = $"{actData.CompletionTime} ({actData.CompletionTimeRank})";
								enemiesKilled = $"{actData.EnemiesKilledRank}";
								deaths = $"{actData.DeathRank}";
								finalRank = $"{actData.FinalRank}";
							}

							<button class="act"
								onclick=@SelectAct(i)>
								<div class="act-name">
									@ActNames[i]
								</div>
								<img class="act-image" src="@ActImages[i]" />
								<div class="act-data">
									<div>Completion Time:</div>
									<div>@completionTime</div>
								</div>
								<div class="act-data">
									<div>Enemies Killed:</div>
									<div>@enemiesKilled</div>
								</div>
								<div class="act-data">
									<div>Deaths:</div>
									<div>@deaths</div>
								</div>
								<div class="act-data">
									<div>Final Rank:</div>
									<div>@finalRank</div>
								</div>
							</button>
						}
					</div>
					<button class="acts-back" onclick=@ReturnToSaves>
						<p>&#8592; Return</p>
					</button>
				</div>
			</div>
		</div>
	</div>
</root>

@code
{
	[Property]
	public SceneFile FirstLevel { get; set; }

	[Property]
	public SceneFile ArenaLevel { get; set; }

	[Property]
	public List<SceneFile> ActScenes { get; set; }

	[Property]
	public List<String> ActNames { get; set; }

	[Property]
	public List<String> ActImages { get; set; }

	private enum MainMenuScreens
	{
		Title = 0,
		PlaySaveSelect = 1,
		PlayLevelSelect = 2
	}

	private MainMenuScreens _selectedScreen = MainMenuScreens.Title;
	
	public void PlayGame()
	{
		// Log.Info("Play Game");
		_selectedScreen = MainMenuScreens.PlaySaveSelect;
	}

	public void PlayArenaMode()
	{
		// Select a strictly invalid save so we don't give players rewards in
		// story mode!
		SaveData.SelectSaveIndex(-1);
		if (ArenaLevel != null)
			LevelManager.LoadLevelImmediate(ArenaLevel, true, true);
	}

	public void NewSave()
	{
		// Log.Info("New Save");
		SaveData.CreateNewSave();
		if (FirstLevel != null)
			LevelManager.LoadLevelImmediate(FirstLevel, true, true);
	}

	public Action SelectSave(int saveIdx)
	{
		return () => {
			SaveData.SelectSaveIndex(saveIdx);
			_selectedScreen = MainMenuScreens.PlayLevelSelect;
		};
	}

	public void ReturnToMainMenu()
	{
		_selectedScreen = MainMenuScreens.Title;
	}

	public void ReturnToSaves()
	{
		_selectedScreen = MainMenuScreens.PlaySaveSelect;
	}

	public Action SelectAct(int actIdx)
	{
		return () => {
			if (actIdx <= SaveData.Instance.Data.GreatestCompletedLevel + 1 &&
				actIdx < ActScenes.Count && ActScenes[actIdx] != null)
				LevelManager.LoadLevelImmediate(ActScenes[actIdx], true, true);
		};
	}

	public void Settings()
	{

	}

	public void ExitGame()
	{
		Game.Close();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() =>
		System.HashCode.Combine(
			_selectedScreen
		);
}
