@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@if (!Movement.LevelStarted) return;

<root>
	<div>Health: @Health.Health</div>
	<div>Mana: @Spellcasting.Mana</div>
	<div>Selected Spell: @Spellcasting.ActiveSpell</div>
	<div>Selected Spell Cost: @Spellcasting.GetActiveSpellCost()</div>
	<div>Selected Spell Cooldown: @Spellcasting.GetActiveSpellCooldown()</div>
</root>

@code
{
	[Property]
	public HealthComponent Health { get; set; }

	[Property]
	public PlayerMovementController Movement { get; set; }

	[Property]
	public PlayerSpellcastingController Spellcasting { get; set; }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() =>
		System.HashCode.Combine(Health.Health, Spellcasting.Mana,
								Spellcasting.ActiveSpell,
								Spellcasting.GetActiveSpellCooldown(),
								Movement.LevelStarted);
}
